---
import { languageList } from '@/i18n/ui';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { useTranslation, shortenPath } from '@/utils/utils';

const { pageTitle = '', currentLang = 'es' } = Astro.props;

interface Props {
  pageTitle?: string;
  currentLang: string;
}

const translateUI = useTranslation(currentLang as keyof typeof languageList);

let navLogo = pageTitle === "Home" ? 'https://res.cloudinary.com/dhojdq7qf/image/upload/v1743112193/AFA_LOGO_qv5uwt.png' : 'https://res.cloudinary.com/dhojdq7qf/image/upload/v1743112194/AFA_LOGO_B_kdrjh6.png'; 
let navClass = pageTitle === "Home" ? "nav nav--dark" : "nav nav--normal";
let navStick = pageTitle === "Home" ? "button__stick" : "button__stick button__stick--dark";
let navLink = pageTitle === "Home" ? "nav__link nav__link--dark" : "nav__link";

const isActive = (title: string) => pageTitle === title ? 'bold' : '';
const isLangActive = (lang: string) => currentLang === lang ? 'bold' : '';

const currentPath = Astro.url.pathname;
const getLocalizedPath = () => {
  const cleanPath = shortenPath(currentPath);
  return `/${cleanPath}`;
};
---

<header class="header">
  <div id="sentinel"></div>
  <nav id="navbar" class={navClass}>
    <div class="nav__container">
      <div class="nav__principal">
        <div class="nav__logo">
          <a href={getRelativeLocaleUrl(currentLang, "/home")}>
            <img src={navLogo} class="nav__img" alt="LOGO AFA" loading="lazy" >
          </a>
        </div>
        <button id="navMenu" class="nav__button">
          <span class=`${navStick} button__stick--1`></span>
          <span class=`${navStick} button__stick--2`></span>
          <span class=`${navStick} button__stick--3`></span>
        </button>
      </div>
      <div id="navOptions" class="nav__options">
        <ul class="nav__menu">
          <li>
            <a class={`${navLink} ${isActive('About')}`} href={getRelativeLocaleUrl(currentLang, "/about")}>{translateUI("nav.about")}</a>
          </li>
          <li>
            <a class={`${navLink} ${isActive('Work')}`} href={getRelativeLocaleUrl(currentLang, "/work")}>{translateUI("nav.work")}</a>
          </li>
          <li>
            <a class={`${navLink} ${isActive('Contact')}`} href={getRelativeLocaleUrl(currentLang, "/contact")}>{translateUI("nav.contact")}</a>
          </li>
        </ul>
        <ul class="nav__language">
          {
            Object.entries(languageList).map(([key]) => {
              return (
                <li>
                  <a class={`${navLink} ${isLangActive(key)}`} href={getRelativeLocaleUrl(key, getLocalizedPath())}>{key}</a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </nav>
</header>

<script>

  import { handleScroll, observeSentinel, toggleMenu } from '@/utils/utils';

  document.addEventListener('astro:page-load', () => {
    const sentinel = document.querySelector('#sentinel') as HTMLElement;
    const navbar = document.querySelector('#navbar') as HTMLElement;
    const navMenu = document.querySelector('#navMenu') as HTMLElement;
    const menu = document.querySelector('#navOptions') as HTMLElement;

    if (sentinel && navbar && navMenu && menu) {
      handleScroll(navbar, navMenu, menu);
      toggleMenu(navMenu, menu);
      observeSentinel(sentinel, navbar);
    }
  });

</script>

<style is:global>

  #sentinel {
    height: 1px;
    width: 100%;
  }

  .nav__logo {
    width: 10rem;
  }

  @media (width >= 768px) {
    .nav__logo {
      width: 15rem;
    }
  }

  .nav__img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .nav {
    --translate-nav: translateY(0);
    --translate-menu: translateY(-150%);

    position: fixed;
    top: 0;
    width: 100%;
    height: 8rem;
    font-size: 1.6rem;
    background-color: #FFF;
    z-index: 1000;
    transform: translateY(--translate-nav);
  }

  @media (width >= 768px) {
    .nav {
      height: 10rem;
    }
  }

  .nav--dark {
    background-color: transparent;
  }

  .nav--dark.nav--scrolled {
    background-color: rgba(0 0 0 / 0.8);
    animation-fill-mode: both;
    transition: background-color 0.3s ease;
    z-index: 500;
  }

  .nav--dark.nav--scrolled  .nav__options {
    background-color: rgba(0 0 0 / 0.8);
    animation-fill-mode: both;
    transition: background-color 0.3s ease 0.3s, transform .5s;
  }

  @media (width >= 768px) {
    .nav--dark.nav--scrolled  .nav__options {
      background-color: transparent;
    }
  }

  .nav--normal .nav__options {
    background-color: #fff;
  }

  .nav__container {
    height: 8rem;
    width: 92%;
    max-width: 144rem;
    margin: 0 auto;
    display: grid;
    align-items: center;
  }

  @media (width >= 768px) {
    .nav__container {
      display: flex;
      justify-content: space-between;
      height: 10rem;
    }
  }

  .nav__link {
    display: inline-block;
    color: #000;
  }

  .nav__link--dark {
    color: #FFF;
  }

  .nav__link--dark:visited {
    color: #FFF;
  }

  .nav__button {
    --translate-stick1: 0 -0.9rem;
    --translate-stick3: 0 0.9rem;
    --rotate-stick1: 0;
    --rotate-stick3: 0;
    --opacity--stick-2: 1;
    --transition-sticks: rotate .4s, translate .4s .4s, opacity .4s;
    
    width: max-content;
    height: 3.5rem;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10000;
    display: grid;
    align-content: center;
    grid-template-areas: 'sticks';
  }

  @media (width >= 768px) {
    .nav__button {
      display: none;
    }
  }

  .open {
    --translate-menu: translateY(-1px);
    --translate-stick1: 0 0;
    --translate-stick3: 0 0;
    --rotate-stick1: 45deg;
    --rotate-stick3: -45deg;
    --opacity--stick-2: 0;
    --transition-sticks: translate .2s, rotate .2s .2s, opacity .2s;
  }

  .up {
    --translate-nav: translateY(-100%);
  }

  .down {
    --translate-nav: translateY(0);
  }

  .button__stick {
    grid-area: sticks;
    width: 3rem;
    height: 0.1rem;
    background-color: #FFF;
    border-radius: 1rem;

    transition: var(--transition-sticks);
  }

  .button__stick--dark {
    background-color: #000;
  }

  .button__stick--1 {
    translate: var(--translate-stick1);
    rotate: var(--rotate-stick1);
  }

  .button__stick--2 {
    opacity: var(--opacity--stick-2);
  }

  .button__stick--3 {
    translate: var(--translate-stick3);
    rotate: var(--rotate-stick3);
  }

  .nav__principal {
    margin: 0 auto;
    width: 100%;
    height: 8rem;
    padding-block: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 900;
  }

  @media (width >= 768px) {
    .nav__principal {
      width: 90%;
      justify-content: unset;
      width: max-content;
    }
  }

  .nav__options {
    width: 100%;
    padding-block: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    transform: var(--translate-menu);
    transition: transform .5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  @media (width >= 768px) {
    .nav__options {
      transform: unset;
      background-color: transparent;
      margin-left: 3rem;
      flex-direction: row;
      justify-content: space-between;
      box-shadow: unset;
    }
  }

  .nav__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  @media (width >= 768px) {
    .nav__menu {
      flex-direction: row;
    }
  }

  .nav__language {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .nav__contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .nav__contact img {
    filter: grayscale(50%);
  }

  .nav--light {
    background-color: #FFF;
  }

  @media (width >= 768px) {
    .nav--light {
      box-shadow: unset;
    }
  }

  .footer {
    margin-top: auto;
    padding-top: 6rem;
    width: 100%;
  }

  .footer .nav {
    position: unset;
    background-color: unset;
    width: 100%;
    align-items: center;

    .nav__logo {
      filter: brightness(0) saturate(100%) invert(57%) sepia(0%) saturate(574%) hue-rotate(140deg) brightness(95%) contrast(84%);
    }
  }

  @media (width >= 768px) {
    .footer .nav {
      align-items: flex-start;
    
      .nav__logo {
        filter: brightness(0) saturate(100%) invert(57%) sepia(0%) saturate(574%) hue-rotate(140deg) brightness(95%) contrast(84%);
      }
    }
  }

  .footer .nav__options {
    transform: unset;
    background-color: unset;
    width: 100%;
    height: max-content;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (width >= 768px) {
    .footer .nav__options {
      margin-left: 0;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .footer .nav__menu {
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: flex-start;
  }

  @media (width >= 768px) {
    .footer .nav__menu {
      width: 90%;
    }
  }

  .nav__contact {
    width: 100%;
    margin: 0 auto;
    font-size: 1.4rem;
    align-items: flex-start;
  }

  @media (width >= 768px) {
    .nav__contact {
      width: 90%;
      align-items: flex-end;
    }
  }

  .nav__link--gray {
    color: #757475;
  }
</style>